# Build directories and compiled binary
build/
bin/
lib/
nectar

# Compiled object / library files
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# Python
__pycache__/
*.pyc

# Editor
*.swp
*~
